@import "http://fonts.googleapis.com/css?family=Merriweather";
* {
    font-family: 'Merriweather', serif;
}
body{
  color: #5a5a5a;
}
i{
  margin: 0 8px 0 0;
}
.navbar-wrapper {
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  z-index: 20;
}
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
.navbar{
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;
  box-shadow: 0px 0px 10px rgba(0,0,0,1);
}
.navbar-brand img{
  position: relative;
  top: -40px;
  width: 100px;
  box-shadow: 0px 0px 15px rgba(0,0,0,1);
}
.carousel {
  height: 500px;
  margin-bottom: 4%;
}
.carousel-caption {
  z-index: 10;
}
.carousel .item {
  height: 100%;
  background-color: #777;
}
.carousel-inner{
  height: 100%;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}
.second{
  text-align: center;
  box-shadow: 0px 0px 10px rgba(34,34,34,0.7);
  margin-bottom: 4%;
}
.second p{
  text-align: justify;
  font-size: 150%;
  padding: 10px;
}
.sponsors{
  display: block;
  width: 100%;
  padding: 2%;
}
.sponsors h2{
  text-align: center;
}
.sponsors img{
  display: inline-block;
  width: 22.75%;
  margin: 2% 1%;
}
@media screen and (max-width: 780px){
  .navbar-brand img{
    top: -76px;
  }
  .carousel{
    height: 500px !important;
    margin-bottom: 0;
  }
  .second h1{
    font-size: 120%;
    font-weight: bolder;
  }
  .second p{
    font-size: 100%;
  }
  .sponsors img{
    display: inline-block;
    width: 47.25%;
    margin: 2% 1%;
  }
}